# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints

# Data & DVC
data/*.csv
.dvc/
.dvc/cache/

# Models / Results
models/
results/
*.sqlite3

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db
